body{
    background-image: url(background.jpg);
    background-size: cover;
}

#heading_app{
    background-color: rgb(22, 0, 0);
    color:rgb(177, 27, 0);
    font-size: 25px;
    padding: 20px;
}

#heading_span{
    color: orange;
    font-size: 20px;
}

#volume_disc_img{
    width: 400px;
    border-radius: 200px;
}

#speed_disc_img{
    width: 400px;
    border-radius: 200px;
}

#speed_disc{
    float: left;
}

#volume_disc{
    float: right;
}

#speed_id{
    margin-left: 125.0011234px;
    width: 150.0011234px;
    font-size: 25px;
}

#volume_id{
    margin-left: 125.0011234px;
    width: 150.0011234px;
    font-size: 25px;
}

#playbtn{
    font-size: 20px;
    padding: 20px;
    width: 175px;
    border: 5px solid rgb(0, 87, 43);
    border-radius: 10px;
}

#stopbtn{
    font-size: 20px;
    padding: 20px;
    width: 175px;
    border: 5px solid rgb(87, 0, 0);
    border-radius: 10px;
}

#pausebtn{
    font-size: 20px;
    padding: 20px;
    width: 175px;
    border: 5px solid rgb(0, 23, 87);
    border-radius: 10px;
}

canvas{
    border: 5px solid white;
    border-radius: 10px;
    animation: glow;
    animation-duration: 100s;
    animation-iteration-count: infinite;

}

@keyframes glow {
    from{
        box-shadow: 0px 0px 300px rgb(255, 0, 0);
    }
    
    to{
        box-shadow: 0px 0px 300px rgb(255, 72, 0);
    }
}